<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Services</h5>
                <a class="btn btn-link" href="">Cardiology</a>
                <a class="btn btn-link" href="">Pulmonary</a>
                <a class="btn btn-link" href="">Neurology</a>
                <a class="btn btn-link" href="">Orthopedics</a>
                <a class="btn btn-link" href="">Laboratory</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" href="">About Us</a>
                <a class="btn btn-link" href="">Contact Us</a>
                <a class="btn btn-link" href="">Our Services</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Support</a>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4" data-key="address_label"></h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i><span data-key="address_value">123 Street, New York, USA</span></p>
                <p class="mb-2"><i class="fa-solid fa-building me-3"></i><span data-key="subaddress_value">Subaddress</span></p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><span data-key="phone_value">+012 345 67890</span></p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i><span data-key="mail_value">info@example.com</span></p>
                <p class="mb-2"><i class="fa fa-clock me-3"></i><span data-key="time_value">Mon - Fri : 09.00 AM - 09.00 PM</span></p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Qtnanoelectronicslab</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">Designed By <a class="border-bottom" href="https://github.com/TimLinTW">TimLinTW</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<script>
    const transFooter = {
        en: {
            header_label: "Contact Us",
            address_label: "Address",
            address_value: "No. 88, Sec. 4, Tingchou Rd., Taipei 11677, Taiwan (R.O.C.)",
            subaddress_value: "3F, Room 301, Applied Science Bldg.",
            phone_label: "Phone Number",
            phone_value: "(+886)2-7749-6724",
            mail_label: "Mail Us",
            mail_value: "support@yourmail.com",
            time_value: "Mon - Fri : 09:00 AM - 09:00 PM",
        },
        zh: {
            header_label: "連絡我們",
            address_label: "地址",
            address_value: "台北市文山區汀州路四段88號",
            subaddress_value: "應用科學大樓三樓光電所301室",
            phone_label: "連絡電話",
            phone_value: "(+886)2-7749-6724",
            mail_label: "電子郵件",
            mail_value: "support@yourmail.com",
            time_value: "週一 至 周五 : 早上九點 至 晚上九點",
        }
    };
</script>